.accessibility-simulation-button {
	border-left: 1px solid #225196;
	background-color: #265bb2;
	background-image: url( 'visionSimulator.svg' ), url( 'downTriangle.svg' );
	background-repeat: no-repeat, no-repeat;
	background-position: center left 10px, center right 10px;
	background-size: 50% 50%, 20% 20%;
	width: 65px;
	height: 50px;
}

.accessibility-simulation-dropdown {
	z-index: 3000;
}

.accessibility-simulation-dropdown li {
	cursor: pointer;
}
